<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method='post'>
  {% csrf_token %}
  {% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="
  {{ choice.id }}" />
      <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label>
  <br />
  {% endfor %}
  <input type="submit" value="Vote" />
</form>

<!-- the value of the radio button is the choice ID, the name is choice, if the
button is pressed, POST data is send > which is the ID of the selected choice

the method is POST, data is altered on the server side -->
